name: api-calculadora-CI
on:
  push:
   branches:
     - master

jobs:
  integracion-continua:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-11
        with:
          args: compileJava test build       
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          tags: juliancho923/api-calculadora:${{ github.run_number }}
          file: Dockerfile
      
      -
        name: Login to Azure Container Registry
        uses: docker/login-action@v1
        with:
          registry: appregistry6000jh.azurecr.io
          username: ${{ secrets.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }}
          
        
      -
        name: Build and push
        id: docker_build_acr
        uses: docker/build-push-action@v2
        with:
          tags: appregistry6000jh.azurecr.io/api-calculadora:${{ github.run_number }}
          push: true
          file: Dockerfile
